<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.js"></script>
</head>
<body>

<canvas id="myChart" width="400" height="200"></canvas>
<script type="text/javascript">
    {#console.log({{ nbSondage }});#}
    var ctx = document.getElementById("myChart");
    new Chart(ctx, {
          type: 'line',
          data: {
            labels: {{ label|safe }},
            datasets: [{
                data: {{ nbSondage|safe }},
                label: "nbSondage",
                borderColor: "#3e95cd",
                fill: false
              }
            ]
          },
          options: {
            title: {
              display: true,
              text: 'Nombre de Sondage en fonction de la date'
            },
            hover: {
             mode: 'index',
             intersect: true
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Date'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Nombre de Sondage'
                },
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }

        });
</script>
</body>
</html>