<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sondage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sondage.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

</head>
<body>
<div class="main">
    <div class="form-box">
        <div class="form">
            <div class="header">
{#                <img id="logo" src="{{ url_for('static', filename='images/LogoInterComm.png') }}" alt="LogoInterComm" />#}
                <h2 class="titre">Formulaire de sondage</h2>
            </div>
            <form method="post" action="{{ url_for("sondage.verifierSondage") }}" enctype="multipart/form-data">
            {{ form.crsf_token }}
                <div class="inputs">
                    {{ form.ages.label|safe }}
                    {{ form.ages(class_="inputText", placeholder="Insérez votre âge") }}
                </div>
                <div class="inputs">
                    {{ form.ville.label|safe }}
                    {{ form.ville(class_="inputText") }}
                </div>
                <div class="inputs">
                    {{ form.niveau.label|safe }}
                    {{ form.niveau }}
                </div>
                <div class="aliments">
                    <div class="aliment">
                        <div>
                            <input type="checkbox" id="RMatin" name="RMatin" checked>
                            <label for="RMatin">Repas du matin</label>
                        </div>
                        <div class="cache">
                            {% for categorie in form.alimentsMatin %}
                                <div>
                                    {{ categorie.groupe|safe }}
                                    {{ categorie.sous_groupe|safe }}
                                    {{ categorie.sous_sous_groupe|safe }}
                                    {{ categorie.aliment|safe }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="aliment">
                        <div>
                            <input type="checkbox" id="RSoir" name="RSoir" checked>
                            <label for="RSoir">Repas du soir</label>
                        </div>

                        <div class="cache2">
                            {% for categorie in form.alimentsSoir %}
                                <div>
                                    {{ categorie.groupe|safe }}
                                    {{ categorie.sous_groupe|safe }}
                                    {{ categorie.sous_sous_groupe|safe }}
                                    {{ categorie.aliment|safe }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="validation">
                    <button id="valider" type="submit">Valider</button>
                </div>
            </form>
        </div>
  </div>
</div>

<script>
    $(document).ready(function() {
    $('#ville').select2({  // init Select2 on form's name field
        placeholder: "Cliquez ici pour rechercher votre ville",
        allowClear: false,
        multiple: false,
        width: 'resolve',
        theme: "flat"
    });
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>