<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sondage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sondage.css') }}">
</head>
<body>
<div class="main">
  <div class="form">
    <div class="imglogo">
          <img id="logo" src="{{ url_for('static', filename='images/LogoInterComm.png') }}" alt="LogoInterComm" />
    </div>
    <form method="post" action="{{ url_for("verifierSondage") }}" enctype="multipart/form-data">
        <div class="inputs">
            <label>Âge (10-18 ans)</label>
            <input class="inputText" type="number" id="age" name="age" required placeholder="Insérez votre âge" min="10"
                   max="18"><br>
        </div>
        {% if 'age' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['age'] }}
        </p>
        {% endif %}
        <div class="inputs">
            <label>Ville</label>
            <input class="inputText" type="text" id="ville" name="ville" placeholder="Insérez votre prénom"
                   required><br>
        </div>
        {% if 'ville' in values.errors %}
            <p class="help has-background-warning">
                {{ values.errors['ville'] }}
            </p>
        {% endif %}
        <div class="inputs">
            <label>Niveau Scolaire</label>
            <select id="statutscolaire" name="statut" required>
                {% for niveau in niveaux %}
                    <option value="{{ niveau[0] }}">{{ niveau[0] }}</option>
                {% endfor %}
            </select>
        </div>
        {% if 'statutscolaire' in values.errors %}
            <p class="help has-background-warning">
                {{ values.errors['statutscolaire'] }}
            </p>
        {% endif %}
        <div class="aliment">
            <div>
                <input type="checkbox" id="RMatin" name="RMatin" checked>
                <label for="RMatin">Repas du matin</label>
            </div>
            <div class="cache">
                {% for form in formMatin %}
                    <div>
                    {{ form.crsf_token }}
                    {{ form.groupe }}
                    {{ form.sous_groupe }}
                    {{ form.sous_sous_groupe }}
                    {{ form.aliment }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="aliment">
            <div>
                <input type="checkbox" id="RSoir" name="RSoir" checked>
                <label for="RSoir">Repas du soir</label>
            </div>

            <div class="cache2">
                 {% for form in formSoir %}
                     <div>
                    {{ form.crsf_token }}
                    {{ form.groupe }}
                    {{ form.sous_groupe }}
                    {{ form.sous_sous_groupe }}
                    {{ form.aliment }}
                     </div>
                {% endfor %}
            </div>
        </div>
        <button id="valider" type="submit">Valider</button>
    </form>
  </div>
</div>

<script>
    $(function () {
        var availableTags = [
            {% for ville in villes %}
                "{{ville}}",
            {% endfor %}
        ];
        $("#ville").autocomplete({
            source: availableTags
        });
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>